body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

}
h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}
ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.logo {
  color: #2e2f42;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  text-decoration: none;
  font-family: "raleway",sans-serif;
  letter-spacing: 0.03em;
  margin-right: 76px;
}

.web-logo {
  color: #4d5ae5;
  text-decoration: none;
  font-weight: 700;
  font-family: "raleway",sans-serif;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46,47,66,0.08);
  padding-top: 24px;
  padding-bottom: 24px;
}
.page-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-nav {
  display: flex;
  gap: 40px;
}
.nav-list {
  display: flex;
  gap: 40px;
}
.nav-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: #4d5ae5;
}
.contacts {
 font-style: normal;
 margin-left: auto;
}

.contact-list {
  display: flex;
  gap:40px;
}

.contact-link {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
}

.contact-link:hover,
.contact-link:focus {
  color: #4d5ae5;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.hero-section {
  background-color: #2e2f42;
  margin: 0 auto;
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}

.hero-button {
  display: block;
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;

}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.team-section {
  background-color: #f4f4fd;
  color: #2e2f42;
}

.team-section .section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  margin-bottom: 72px;
}

.team-member {
  background-color: #ffffff;
  text-align: center;
  padding-bottom: 32px;
  border-radius: 0px 0px 4px 4px;
}

.team-member-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 32px;
  margin-bottom: 8px;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-member-position {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
  text-align: center;
}
.portfolio-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-item-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 32px;
  margin-bottom: 8px;
}

.portfolio-item-category {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.page-footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.plogo {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: #f4f4fd;
  font-family: "raleway",sans-serif;
  display: inline-block;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.page-footer .web {
  color: #4d5ae5;
  font-family: "raleway",sans-serif;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  max-width: 264px;
  letter-spacing: 0.02em;
}
.portfolio-list {
  column-gap: 24px;
  row-gap: 48px;
}
.features-list, .team-list, .portfolio-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
.feature-item, .team-member {
  width: calc((100% - 72px) / 4);
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
}
.features-section h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color:#2e2f42;
}
.feature-subtitle {
  font-weight: 500; 
  font-size: 20px;
  line-height: 24px;
  color: #2e2f42; 
  margin-bottom: 8px;
}
.feature-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}