body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

}
h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}
ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.logo {
  color: #2e2f42;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  text-decoration: none;
  font-family: "raleway",sans-serif;
  letter-spacing: 0.03em;
  margin-right: 76px;
}

.web-logo {
  color: #4d5ae5;
  text-decoration: none;
  font-weight: 700;
  font-family: "raleway",sans-serif;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46,47,66,0.08);
  padding-top: 24px;
  padding-bottom: 24px;
}
.page-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-nav {
  display: flex;
  gap: 40px;
}
.nav-list {
  display: flex;
  gap: 40px;
}
.nav-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  padding: 24px 0;
  position: relative;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.nav-link.current {
  color: #404bbf;
}
.nav-link.current::after,
.nav-link:hover::after,
.nav-link:focus::after {
  content:"";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 100%;
  background-color: #404bbf;
  border-radius: 2px;

}
.contacts {
 font-style: normal;
 margin-left: auto;
}

.contact-list {
  display: flex;
  gap:40px;
}

.contact-link {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
  color: #4d5ae5;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.hero-section {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7), 
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office.png");
  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}

.hero-button {
  display: block;
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.team-section {
  background-color: #f4f4fd;
  color: #2e2f42;
}

.team-section .section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  margin-bottom: 72px;
}

.team-member {
  background-color: #ffffff;
  text-align: center;
  padding-bottom: 32px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
              0px 1px 1px rgba(46, 47, 66, 0.16), 
              0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-member-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 32px;
  margin-bottom: 8px;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-member-position {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.portfolio-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-item-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 8px;
}

.portfolio-item-category {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.portfolio-image-wrapper {
  position: relative;
  overflow: hidden;
}
.page-footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.plogo {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: #f4f4fd;
  font-family: "raleway",sans-serif;
  display: inline-block;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.page-footer .web {
  color: #4d5ae5;
  font-family: "raleway",sans-serif;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  max-width: 264px;
  letter-spacing: 0.02em;
}
.features-list, .team-list, .portfolio-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  }

.portfolio-list {
  row-gap: 48px;
  column-gap: 24px;
  
}
.feature-item, .team-member {
  width: calc((100% - 72px) / 4);
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
              0px 1px 6px rgba(46, 47, 66, 0.16),
              0px 1px 6px rgba(46, 47, 66, 0.08);
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  color: #f4f4fd;
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02 em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4,0,0.2,1);
}
.portfolio-item:hover .portfolio-overlay {
  transform:translateY(0);
}
.features-section h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color:#2e2f42;
}
.feature-subtitle {
  font-weight: 500; 
  font-size: 20px;
  line-height: 24px;
  color: #2e2f42; 
  margin-bottom: 8px;
}
.feature-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}
.feature-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}
.team-social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.team-social-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 250ms cubic-bezier(0.4,0,0.2,1);
}
.team-social-link:hover, .team-social-link:focus {
  background-color:#404bbf;
}

/* FOOTER DÜZENLEMELERİ */

.page-footer .container {
  display: flex;
  align-items: baseline;
}

.footer-logo-container {
  margin-right: 120px;
}

.plogo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  max-width: 264px;
}

.footer-social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.team-social-icon, 
.footer-social-icon {
  stroke:#f4f4fd;
}
.modal-field {
  margin-bottom: 8px;
}
.modal-field-comment {
  margin-bottom: 16px;
}
.modal-field-checkbox {
  margin-bottom: 24px;
}
.modal-label {
  display:block;
  margin-bottom:4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-input-wrap {
  position: relative;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46,47,66,0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4,0,0.2,1);
}
.modal-input:focus {
  border-color: #4D5AE5;
}
.modal-input:focus + .modal-icon {
  fill: #4D5AE5;
}
.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46,47,66,0.4);
  border: 1px solid rgba(46,47,66,0.4);
  border-radius: 4px;
  background-color: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4,0,0.2,1);
  padding: 8px 16px;
}
.modal-textarea:focus {
  border-color: #4d5ae5;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  align-items: center;
}
.custom-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46,47,66,0.4);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
              border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
              fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-check:checked + .check-text .custom-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.privacy-link {
  color: #4D5AE5;
  text-decoration: underline;
}
.modal-submit-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none;
  border-radius: 4px;
  margin: 24px auto 0 auto;
  transition: background-color 250ms cubic-bezier(0.4,0,0.2,1);

}
.modal-submit-btn:hover,
.modal-submit-btn:focus {
  background-color: #404bbf;
}
.footer-subscribe-container {
  margin-left: auto;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46,47,66,0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4,0,0.2,1); 

}
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.modal-close-btn {
  position: absolute;
  top:24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding:0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}
.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill:#ffffff;
}
.footer-subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-subscribe-form {
  display: flex;
  gap: 24px;
}
.footer-subscribe-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}
.footer-subscribe-input::placeholder {
  color:white;

}
.footer-subscribe-btn {
  min-width: 165px;
  height: 40px;
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color:#ffffff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
  background-color: #404bbf;
}
.footer-subscribe-icon{
  margin-left: 16px;
  fill:#ffffff;
}