body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

}
h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}
ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.logo {
  color: #2e2f42;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  text-decoration: none;
  font-family: "raleway",sans-serif;
  letter-spacing: 0.03em;
  margin-right: 76px;
}

.web-logo {
  color: #4d5ae5;
  text-decoration: none;
  font-weight: 700;
  font-family: "raleway",sans-serif;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46,47,66,0.08);
  padding-top: 24px;
  padding-bottom: 24px;
}
.page-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-nav {
  display: flex;
  gap: 40px;
}
.nav-list {
  display: flex;
  gap: 40px;
}
.nav-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  padding: 24px 0;
  position: relative;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.nav-link.current {
  color: #404bbf;
}
.nav-link.current::after,
.nav-link:hover::after,
.nav-link:focus::after {
  content:"";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 100%;
  background-color: #404bbf;
  border-radius: 2px;

}
.contacts {
 font-style: normal;
 margin-left: auto;
}

.contact-list {
  display: flex;
  gap:40px;
}

.contact-link {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
  color: #4d5ae5;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.hero-section {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7), 
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office.png");
  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}

.hero-button {
  display: block;
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.team-section {
  background-color: #f4f4fd;
  color: #2e2f42;
}

.team-section .section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  margin-bottom: 72px;
}

.team-member {
  background-color: #ffffff;
  text-align: center;
  padding-bottom: 32px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
              0px 1px 1px rgba(46, 47, 66, 0.16), 
              0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-member-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 32px;
  margin-bottom: 8px;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-member-position {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.portfolio-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-item-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 8px;
}

.portfolio-item-category {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.portfolio-image-wrapper {
  position: relative;
  overflow: hidden;
}
.page-footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.plogo {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: #f4f4fd;
  font-family: "raleway",sans-serif;
  display: inline-block;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.page-footer .web {
  color: #4d5ae5;
  font-family: "raleway",sans-serif;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  max-width: 264px;
  letter-spacing: 0.02em;
}
.features-list, .team-list, .portfolio-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  }

.portfolio-list {
  row-gap: 48px;
  column-gap: 24px;
  
}
.feature-item, .team-member {
  width: calc((100% - 72px) / 4);
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
              0px 1px 6px rgba(46, 47, 66, 0.16),
              0px 1px 6px rgba(46, 47, 66, 0.08);
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  color: #f4f4fd;
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02 em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4,0,0.2,1);
}
.portfolio-item:hover .portfolio-overlay {
  transform:translateY(0);
}
.features-section h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color:#2e2f42;
}
.feature-subtitle {
  font-weight: 500; 
  font-size: 20px;
  line-height: 24px;
  color: #2e2f42; 
  margin-bottom: 8px;
}
.feature-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}
.feature-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}
.team-social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.team-social-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 250ms cubic-bezier(0.4,0,0.2,1);
}
.team-social-link:hover, .team-social-link:focus {
  background-color:#404bbf;
}

/* FOOTER DÜZENLEMELERİ */

.page-footer .container {
  display: flex;
  align-items: baseline;
}

.footer-logo-container {
  margin-right: 120px;
}

.plogo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  max-width: 264px;
}

.footer-social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.team-social-icon, 
.footer-social-icon {
  stroke:#f4f4fd;
}
